body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232f3e;
    padding: 10px 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero-section img {
    width: 10%;
    height: auto;
}

.product-section {
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
}
